.input-customs {
    box-shadow: 0px 20px 25px 0px rgb(126 55 216 / 5%) !important;
    -webkit-box-shadow: 0px 0px 25px 0px rgb(126 55 216 / 5%) !important;
    border: 1px solid #ececec !important;
}